<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="style.css" />

    <title>Loag Lounge</title>
    <script src="./assets/js/lofiradio.js"></script>
</head>


<body class="move">
    <!-- As a link -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="index.html">Home</a>
        <a class="navbar-brand" href="resources.html" target="_blank">Resources</a>
        <a class="navbar-brand" href="https://github.com/">Github</a>
    </nav>
    <div class="jumbotron">
        <h1 class="display-4">Loaf Lounge</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
            featured content or information.</p>
        <hr class="my-4">
        <p class="hide">It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>


    <article id="app">
        
        <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="comment">
            <p v-for="items in item" v-text="items"></p>
              </div><!--End Comment-->
              </div><!--End col -->
              </div><!-- End row -->
          <div class="row">
            <div class="col-6">
          <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
              <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
            </div><!-- End col -->
          </div><!--End Row -->
        </div><!--End Container -->
    
      </article><!-- end App -->

    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div class="video-yt">
        <script id="player" src="./assets/js/lofiradio.js"> </script>
        
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="vue.min.js"></script>

    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div>
        <script id="player" src="./assets/js/lofiradio.js">
        </script>
    </div>

</body>

</html>