* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    text-align: left;
    margin-left: 500px;
	overflow-y:scroll;
	position: sticky;

}

.comment {
	display: block;
	transition: all 1s;
margin-bottom: 40px; 
overflow-y:scroll;

}
   
.commentClicked {
	min-height: 0px;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 5px 10px;
	overflow-y: scroll;
}

.container textarea {
	overflow-y: scroll;
	width: 100%;
	border: none;
	background: #E8E8E8;
	padding: 5px 10px;
	height: 50%;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 2px solid #016BA8;
	transition: all 0.5s;
}

button.primaryContained {
	background: #016ba8;
	color: #fff;
	padding: 10px 10px;
	border: none;
	margin-top: 0px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 4px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
	transition: 1s all;
	font-size: 10px;
	border-radius: 5px;
    display: flex;
}

button.primaryContained:hover {
	background: #9201A8;
}

.jumbotron {
	background-image: url("logo3.png");
	


	
  background-color: #cccccc;
}


.lead {
    visibility: hidden;
    
}

.jumbotron {
	background-image: url("logo3.png");
}

.display-4 {
    visibility: hidden;
}

.hide {
    visibility: hidden;
}