@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Raleway:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    

}

.lead {
    visibility: hidden;
}

.jumbotron {
    background-image: url("../images/logo3.png");
}

.display-4 {
    visibility: hidden;
}

.hide {
    visibility: hidden;
}

.field {
    background-image: url("../images/city.png");
    margin-bottom: 100px;
    height: 340px;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}

.header2 {
    background-color: burlywood;
    color: black;
    display: block;
    font-family: Raleway;
    font-size: 45px;
    text-align: center;
    border-radius: 5px; 
    margin-bottom: 120px;
    width: 100%;
}



.header3 {
    background-color: burlywood;
    color: black;
    display: block;
    font-family: Raleway;
    font-size: 45px;
    text-align: center;
    border-radius: 5px; 
    margin-top: 120px;
}

.links {
    display: block;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 10px;
    border-radius: 15px;
}



.motivation {
    background-color: burlywood;
    color: black;
    display: block;
    font-family: Raleway;
    font-size: 45px;
    text-align: center;
    border-radius: 5px; 

}

.mySlides {
    display: block;
    width: 100%;
    padding: -400px; 
    border-radius: 5px;    
}

.links {
    display: block;
    text-align: center;
}