@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Raleway:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.field {
    background-image: url("../images/city.png");
    margin-bottom: 100px;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
}

.comment {
    display: block;
    transition: all 1s;
    margin-bottom: 40px;
    overflow-y: scroll;
    color: beige;
}
.commentClicked {
    min-height: 0px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px 10px;
    overflow-y: scroll;
    background-color: #016BA8;
}
.container textarea {
    overflow-y: scroll;
    width: 100%;
    border: none;
    background: #E8E8E8;
    padding: 5px 10px;
    height: 50%;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 2px solid #016BA8;
    transition: all 0.5s;
}
button.primaryContained {
    background: #016BA8;
    color: #fff;
    padding: 10px 10px;
    border: none;
    margin-top: 0px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 4px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    transition: 1s all;
    font-size: 10px;
    border-radius: 5px;
    display: flex;
}
button.primaryContained:hover {
    background: #9201A8;
}
.jumbotron {
    background-image: url("../images/logo3.png");
    background-color: #CCCCCC;
    background-repeat: no-repeat;
    background-size: cover;
}
.lead {
    visibility: hidden;
}
.jumbotron {
    background-image: url("../images/logo3.png");
}
.display-4 {
    visibility: hidden;
}
.hide {
    visibility: hidden;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F1F1F1;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.oveflow-auto {
    overflow: auto;
}
.user-icon {
    width: 10%;

    display: inline-block;
    height: 64px;
    background: url('user_icon.png') no-repeat center center;
}
.welcome {
    background-color: burlywood;
    color: black;
    display: block;
    font-family: Raleway;
    font-size: 45px;
}
.gameheader {background-color: burlywood;
    color: black;
    display: block;
    padding: 80px;
    margin-left: 250px;
    margin-right: 270px;
    margin-bottom: 50px;
    margin-top: 30px;
    border-radius: 15px;
    font-family: Raleway;
    font-size: 45px;
    text-align: center;
}

.gameheader {background-color: burlywood;
    color: black;
    display: block;
    padding: 80px;
    margin-left: 250px;
    margin-right: 270px;
    margin-bottom: 50px;
    margin-top: 30px;
    border-radius: 15px;
    font-family: Raleway;
    font-size: 45px;
    text-align: center;

}

.card {
    background: transparent;
    color:lightgrey;
    padding: 2em;
    width: 70%;
    max-width: 300px;
    margin: 1em;
    outline: none;
    text-align: center;
}

.search {
    
    align-items: center;
    justify-content: center;
}

.weather-btn {
    margin: 0.5em;
    border-radius: 45%;
    border: none;
    height: 2.5em;
    width: 2.5em;
    height: 46px;
    width: 46px;
    background: #7c7c7c2b;
    color: lightgrey;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.weather-btn:hover {
    background: #7c7c7c6b;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.8em;
    border-radius: 18px;
    background: #7c7c7c2b;
    color: lightgrey;

}

.flex {
    flex-direction: column;
    align-items: center;
}

h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;

} 

.video-yt {
    margin: auto;
    display: flex;
    justify-content: center;
}

.weather-container {
    height: 100%;
}